@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');

$fontLogo: 'Cinzel', serif;


// Colors
$color1:#d4cfc8;
$color2:#fef8f0;
$color3:#2a2928;
$color4:#545250;
$color5:#7f7c78;
$color6:#a9a6a0;